<h4 matDialogTitle>Student Details</h4>
<form [formGroup]="stdForm">
  <mat-dialog-content>
    <mat-form-field class="col">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" name="name">
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" name="email">
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>Class Roll Number</mat-label>
      <input type="number" matInput formControlName="crn" name="crn">
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>University Roll Number</mat-label>
      <input type="number" matInput formControlName="urn" name="urn">
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>Mentor Name</mat-label>
      <input type="text" matInput formControlName="mentor" name="mentor">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="null" color="warn">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="stdForm.value" [disabled]="stdForm.invalid" color="primary">Submit</button>
  </mat-dialog-actions>
</form>
